.cardInfo {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 40px auto;
    height: 70vh;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    width: 900px;
}

.details__image {
    width: 450px;
    margin-bottom: 2em;
    /* margin: 0 auto; */
}

.current__img {
    border-radius: 10px;
}

.details__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 40px;
    /* height: 38vh; */
    width: 350px;
    background: #3b3b3ba1;
}

.card__likes {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

.details__button,
.owner__buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.guest__buttons {
    align-self: center;
   
}

.detBtn {
    padding: 8px 25px;
    border-radius: 100px;
    background-color: #acec15;
    border: 0px solid #acec15;
}

.detBtn:hover {
    background-color: #000;
    color: #acec15;
}

.imageAndButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__card {
    display: flex;
    flex-direction: column;
    gap: 1em;
}