@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Josefin Slab';
    font-weight: 400;
    --color1: #fff;
    --color2: #181818;
    /* height: 100vh; */
}
/* main cards */
.home-main {
    color: #fff;
    background: #01FFF9;
    background: conic-gradient(from 315deg, #acec15, #010101);
    padding: 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.homeWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

