.detailsWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.details-main {
    color: #fff;
    background: #acec15;
    background: conic-gradient(from 315deg, #acec15, #010101);
    padding: 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    /* min-height: 100vh; */
}